## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui

print(f'Matemática: {(df_mat["Qt_acertos"].sum() / (24 * 100)):.2%}')
print(f'Português: {(df_por["Qt_acertos"].sum() / (18 * 100)):.2%}')
print(f'Geografia: {(df_geo["Qt_acertos"].sum() / (8 * 100)):.2%}')
print(f'Inglês: {(df_ing["Qt_acertos"].sum() / (8 * 100)):.2%}')
print(f'História: {(df_his["Qt_acertos"].sum() / (8 * 100)):.2%}')
print(f'Física: {(df_fis["Qt_acertos"].sum() / (12 * 100)):.2%}')
print(f'Química: {(df_qui["Qt_acertos"].sum() / (12 * 100)):.2%}')

Matemática: 49.38%
Português: 40.17%
Geografia: 42.00%
Inglês: 47.62%
História: 45.00%
Física: 44.33%
Química: 45.25%

In [3]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total
df = pd.DataFrame()
df['Matemática'] = df_mat["Qt_acertos"]
df['Português'] = df_por["Qt_acertos"]
df['Geografia'] = df_geo["Qt_acertos"]
df['Inglês'] = df_ing["Qt_acertos"]
df['História'] = df_his["Qt_acertos"]
df['Física'] = df_fis["Qt_acertos"]
df['Química'] = df_qui["Qt_acertos"]
df['Total_Acertos'] = (df['Matemática'] + df['Português'] + 
                       df['Geografia'] + df['Inglês'] + 
                       df['História'] + df['Física'] + 
                       df['Química'])
df.head(10)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30
5,20,2,5,3,2,9,9,50
6,6,0,7,7,5,0,4,29
7,18,4,4,7,7,1,8,49
8,22,9,2,7,6,5,7,58
9,10,6,3,6,4,8,2,39

In [4]:
# 3) Seu código aqui
total/90

Qt_acertos_total = 24 + 18 + 8 + 8 + 8 + 12 + 12

df['Total_Acertos_%'] = round((df['Total_Acertos'] / 90 * 100), 2)
df.head(10)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
3,10,7,3,4,0,0,8,32,35.56
4,7,2,2,7,0,9,3,30,33.33
5,20,2,5,3,2,9,9,50,55.56
6,6,0,7,7,5,0,4,29,32.22
7,18,4,4,7,7,1,8,49,54.44
8,22,9,2,7,6,5,7,58,64.44
9,10,6,3,6,4,8,2,39,43.33

In [5]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

df[df['Total_Acertos'] > 45].index.nunique()

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
#1 Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo DataFrame com os alunos desqualificados por este critério.

df_desqualificados = df[ (df['Matemática'] == 0) |
                         (df['Física'] == 0) |
                         (df['Química'] == 0) ]

df_desqualificados.head(5)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%
3,10,7,3,4,0,0,8,32,35.56
6,6,0,7,7,5,0,4,29,32.22
10,10,8,3,2,1,7,0,31,34.44
12,20,8,3,7,1,0,3,42,46.67
14,7,11,1,7,1,4,0,31,34.44

In [7]:
#2 Quantos são esses alunos?

df_desqualificados.index.nunique()

23

In [8]:
#3 Qual a média desses alunos em história e geografia?

print(f'Média História: {df_desqualificados["História"].mean():.2}')
print(f'Média Geografia: {df_desqualificados["Geografia"].mean():.2}')

Média História: 3.4
Média Geografia: 3.2

In [9]:
#4 Monte um DataFrame com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

df_qualificados = df[ (df['Matemática'] != 0) &
                         (df['Física'] != 0) &
                         (df['Química'] != 0) ]
df_qualificados

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
4,7,2,2,7,0,9,3,30,33.33
5,20,2,5,3,2,9,9,50,55.56
...,...,...,...,...,...,...,...,...,...
93,12,16,5,5,6,6,6,56,62.22
95,6,4,7,1,4,9,3,34,37.78
96,8,1,4,6,1,4,3,27,30.00
97,23,5,0,2,4,1,5,40,44.44
99,11,15,0,1,6,7,2,42,46.67

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [16]:
#Não consegui entender, não rodou esse "!pwd". O link não funcionava então busquei um novo:
   # https://opendatasus.saude.gov.br/dataset/covid-19-vacinacao/resource/5093679f-12c3-4d6b-b7bd-07694de54173

In [66]:
# seu código aqui
vacAcre = pd.read_csv(arquivo, sep=';', low_memory=False)
vacAcre.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,4e992b56-494a-43a6-b093-9f3450338bda-i0b0,07c37bf70113e321baba138c594fdc8558918fc9ae9ab3...,30,1991-06-08,F,4,AMARELA,120050,10,SENA MADUREIRA,...,2.0,Faixa Etária,1855836,JANSSEN,Organization/30587,2022-01-24,Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
1,e8db72de-c738-43b5-a580-dacdec0ee5d1-i0b0,c0494ab84ea619d6330ea2dbf0eb2d48187a6853d9ca0b...,6,2015-12-25,F,1,BRANCA,120005,10,ASSIS BRASIL,...,NaN,NaN,210520,SINOVAC/BUTANTAN,29501,2022-08-11,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
2,433190aa-ff6a-47a3-8f23-fb9f16bdf9b7-i0b0,4709da5a3c7088e58d8cdad2d7577012e8fe35feedb9c4...,26,1996-01-30,F,3,PARDA,120033,10,MANCIO LIMA,...,2.0,Faixa Etária,FP8073,PFIZER,28290,2022-08-31,Dose Adicional,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,e8e00898-05f4-45e1-99e5-ac295a7568d1-i0b0,a648744ed314040eee095ba3617afc54827ca1e044dbcc...,54,1966-10-29,F,3,PARDA,120040,10,RIO BRANCO,...,1.0,Comorbidades,FA9096,PFIZER,Organization/00394544000851,2021-08-24,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,a0e6fc9b-dacb-48f4-a8f2-50a230a506f2-i0b0,8543917ed95be3dc46fe78984757aa127a253ab2ec3dde...,19,2001-05-08,F,4,AMARELA,120080,10,PORTO ACRE,...,6.0,Povos e Comunidades Tradicionais,212VCD001ZVB,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-04-03,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [67]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-4c6c45a9-d4ce-4e76-8e5c-a01cc0b39ce3.c000.csv'

In [68]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';', low_memory=False)

vacAcre = pd.read_csv(arquivo, sep=';', low_memory=False)
vacAcre.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,4e992b56-494a-43a6-b093-9f3450338bda-i0b0,07c37bf70113e321baba138c594fdc8558918fc9ae9ab3...,30,1991-06-08,F,4,AMARELA,120050,10,SENA MADUREIRA,...,2.0,Faixa Etária,1855836,JANSSEN,Organization/30587,2022-01-24,Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
1,e8db72de-c738-43b5-a580-dacdec0ee5d1-i0b0,c0494ab84ea619d6330ea2dbf0eb2d48187a6853d9ca0b...,6,2015-12-25,F,1,BRANCA,120005,10,ASSIS BRASIL,...,NaN,NaN,210520,SINOVAC/BUTANTAN,29501,2022-08-11,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
2,433190aa-ff6a-47a3-8f23-fb9f16bdf9b7-i0b0,4709da5a3c7088e58d8cdad2d7577012e8fe35feedb9c4...,26,1996-01-30,F,3,PARDA,120033,10,MANCIO LIMA,...,2.0,Faixa Etária,FP8073,PFIZER,28290,2022-08-31,Dose Adicional,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,e8e00898-05f4-45e1-99e5-ac295a7568d1-i0b0,a648744ed314040eee095ba3617afc54827ca1e044dbcc...,54,1966-10-29,F,3,PARDA,120040,10,RIO BRANCO,...,1.0,Comorbidades,FA9096,PFIZER,Organization/00394544000851,2021-08-24,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,a0e6fc9b-dacb-48f4-a8f2-50a230a506f2-i0b0,8543917ed95be3dc46fe78984757aa127a253ab2ec3dde...,19,2001-05-08,F,4,AMARELA,120080,10,PORTO ACRE,...,6.0,Povos e Comunidades Tradicionais,212VCD001ZVB,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-04-03,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [69]:
#vacAcre.index.nunique()
print(len(vacAcre))

337216

In [70]:
print('O total de vacinas são:') 
df.shape[0]

O total de vacinas são:

337216

In [71]:
# 2) 
#vacAcre.index.nunique()
vacAcre['paciente_id'].nunique()

284455

In [59]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

vacAcre.loc[vacAcre['vacina_descricao_dose'] == '1ª Dose', 'paciente_id'].nunique()

137769

In [72]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

vacAcre.loc[vacAcre['paciente_idade'] < 18, 'paciente_id'].nunique()

52013

In [84]:
# 5) Como não havia o estabelecimento no Link, decidi procurar saber sobre quantos tipos de vacinas foram aplicadas, já que cada uma possui um código específico.
df['vacina_codigo'].nunique()

vacAcre['vacina_codigo'].nunique()

8

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [117]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

vacAcre_copy = vacAcre[vacAcre['paciente_idade'] < 18].copy()
vacAcre_copy.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
1,e8db72de-c738-43b5-a580-dacdec0ee5d1-i0b0,c0494ab84ea619d6330ea2dbf0eb2d48187a6853d9ca0b...,6,2015-12-25,F,1,BRANCA,120005,10,ASSIS BRASIL,...,NaN,NaN,210520,SINOVAC/BUTANTAN,29501,2022-08-11,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
8,b406f69e-5f39-4877-a208-e9d8616725f0-i0b0,c10d65213e979cb8c4b12529f8f5ff22e99f1602c05107...,14,2007-09-15,F,1,BRANCA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FH8023,PFIZER,Organization/28290,2021-12-04,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
16,339051e7-7c49-4577-9665-1b882ba22adf-i0b0,d94b97a004cdc617974160feffe2b0334aa47e1e34ac14...,7,2014-11-30,M,3,PARDA,120020,10,CRUZEIRO DO SUL,...,NaN,NaN,FP8290,Pendente Identificação,Organization/28290,2022-02-14,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
19,ea6130ec-977b-45f8-8bca-7e369bef2cc6-i0b0,2d46d21bcddbe428d8e580c42262d3aeef450eef109ff5...,16,2004-12-09,F,4,AMARELA,120039,10,PORTO WALTER,...,2.0,Faixa Etária,FF5107,PFIZER,Organization/00394544000851,2021-09-20,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
23,ea97418a-afc7-4dd4-b10c-ede47e383f0a-i0b0,ff0db46f2ea00cddefe6e2629b7df2714353c1cf48c0b0...,9,2013-05-04,M,3,PARDA,120040,10,RIO BRANCO,...,NaN,NaN,FP0362,PFIZER - PEDIÁTRICA,28290,2022-08-03,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI

In [131]:
# 2) aqui aparecem estabelecimentos
df_menor.columns

lista_colunas = list(vacAcre_copy.columns)
lista_colunas

['document_id',
 'paciente_id',
 'paciente_idade',
 'paciente_dataNascimento',
 'paciente_enumSexoBiologico',
 'paciente_racaCor_codigo',
 'paciente_racaCor_valor',
 'paciente_endereco_coIbgeMunicipio',
 'paciente_endereco_coPais',
 'paciente_endereco_nmMunicipio',
 'paciente_endereco_nmPais',
 'paciente_endereco_uf',
 'paciente_endereco_cep',
 'paciente_nacionalidade_enumNacionalidade',
 'estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf',
 'vacina_grupoAtendimento_codigo',
 'vacina_grupoAtendimento_nome',
 'vacina_categoria_codigo',
 'vacina_categoria_nome',
 'vacina_lote',
 'vacina_fabricante_nome',
 'vacina_fabricante_referencia',
 'vacina_dataAplicacao',
 'vacina_descricao_dose',
 'vacina_codigo',
 'vacina_nome',
 'sistema_origem']

In [132]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacAcre_copy['vacina_categoria_nome'].value_counts()

Faixa Etária                                      31602
Outros                                             3688
Povos Indígenas                                    1580
Povos e Comunidades Tradicionais                    386
Trabalhadores de Saúde                              237
População Privada de Liberdade                       42
Comorbidades                                         31
Gestantes                                            19
Pessoas com Deficiência                               3
Pessoas de 60 anos ou mais institucionalizadas        1
Trabalhadores da Educação                             1
Name: vacina_categoria_nome, dtype: int64

In [138]:
# 4)

lista_variaveis = ['estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']
df_menor_lista = df_menor.loc[: , lista_variaveis]


lista_estabelecimento = []

In [139]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

vacAcre_copy.loc[vacAcre_copy['paciente_idade'] < 18, lista_estabelecimento]

Empty DataFrame
Columns: []
Index: [1, 8, 16, 19, 23, 26, 29, 37, 41, 43, 49, 51, 55, 58, 62, 66, 67, 70, 73, 78, 81, 84, 91, 98, 103, 113, 115, 122, 123, 126, 135, 141, 145, 172, 178, 181, 191, 200, 202, 203, 206, 216, 217, 220, 235, 245, 253, 255, 261, 268, 271, 276, 279, 280, 281, 284, 288, 313, 317, 319, 330, 331, 338, 353, 354, 363, 365, 378, 389, 396, 397, 399, 407, 422, 433, 435, 439, 445, 446, 447, 453, 455, 464, 467, 477, 480, 481, 486, 492, 497, 499, 513, 520, 531, 542, 550, 553, 562, 563, 564, ...]

[57325 rows x 0 columns]